@model SessionListViewModel

<h2>تعديل الجلسة</h2>

<form asp-action="EditSession" method="post">


    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="SessionId" />

    <div>
        <label>عنوان الجلسة</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div>
        <label>اسم المدرب</label>
        <input asp-for="HostName" class="form-control" />
    </div>

    <div>
        <label>الحالة</label>
        <select asp-for="Status" class="form-control">
            <option value="scheduled">قادمة</option>
            <option value="live">جارية</option>
            <option value="ended">مكتملة</option>
        </select>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
</form>
